SERVER_HOST=your.server.host
SERVER_USER=your_server_user
SERVER_PASSWORD=your_server_password
SERVER_PORT=3306
SERVER_DB=hexsys

LOCAL_HOST=127.0.0.1
LOCAL_USER=your_local_user
LOCAL_PASSWORD=your_local_password
LOCAL_PORT=3306
LOCAL_DB=rfid_db

UDP_PORT=5001
HTTP_PORT=5002
HTTPS_PORT=8443
